*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    text-align: center;
}

header{
    width: 100%;
    padding:10px;
    background-color: #0044CC;
    color: white;
    text-align: center;
}

h1{
    font-family: sans-serif;
    font-weight: bolder;
}

#form{
    width: 40%;
}

input, select, button{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

select{
    width: 60px;
    color: #0044CC;
    background-color: #E0E7FF;
    

}

select:focus {
    border-color: #0044CC;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 68, 204, 0.5);
}



input{
    background-color: #E0E7FF;
}

button{
    width: 150px;
    background-color: #28A745;
    color:rgb(0, 0, 0);
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: #1E7B34;
} 

footer{
    width: 100%;
    padding: 10px;
    background-color: #0044CC;
    color: white;
    text-align: center;

}

h3{
    font-family: sans-serif;
}


